%h2= t('.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render 'devise/shared/error_messages', resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: 'email'
  .field
    = f.label :password
    - if @minimum_password_length
      %em= t('devise.shared.minimum_password_length', count: @minimum_password_length)
    %br/
    = f.password_field :password, autocomplete: 'new-password'
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: 'new-password'
  .actions
    = f.submit t('.sign_up')
= render 'devise/shared/links'
