%tr{ class: orga.active ? 'active' : 'inactive', title: orga.tags.join(' ') }
  %td.kind
    - if orga.kind
      %em.fa{ class: "fa-#{orga.kind.icon}",
              title: strip_tags(Kind.human_attribute_name("name_#{orga.kind.name}_html")) }
  %td.name
    = orga.name
    = render partial: '/orgas/favicon', locals: { orga: orga }
  %td.city= orga.city
  %td.region= orga.region
  %td.flag= flag_icon orga.region.flag
  %td.updated_at
    = l orga.updated_at.to_date if orga.updated_at.present?
  %td.tags
    - if orga.tags.size > 1
      %em.fa.fa-tags
    - elsif orga.tags.size.positive?
      %em.fa.fa-tag
  %td.url
    - if orga.url
      = link_to orga.url, target: '_blank', rel: 'noopener', aria: { label: Orga.human_attribute_name(:url) } do
        %em.fa.fa-external-link-alt
  %td.feed
    - if orga.feed
      = link_to orga.feed, target: '_blank', rel: 'noopener', aria: { label: Orga.human_attribute_name(:feed) } do
        - if orga.actus.empty?
          %em.fa.fa-chain-broken
        - else
          %em.fa.fa-feed
  %td.view
    = link_to orga_path(orga, q: params[:q].permit, page: params[:page]), aria: { label: t('show') } do
      %em.fa.fa-arrow-circle-right
