= search_form_for Orga.ransack(params[:q]) do |f|
  = f.label :ransack, t('.label')
  = f.search_field :name_or_city_or_description_cont_any,
                   id: :q_ransack, size: 16,
                   placeholder: t('.title', entity: Orga.model_name.human),
                   title: t('.helper', entity: Orga.model_name.human),
                   autofocus: true
  = f.button class: :search, 'aria-label': t('.label') do
    %em.fa.fa-search
