- params[:q] = {} if params[:q].nil?
- p = params[:q].clone.permit

%ul.counters
  -# The reorder and specific count are required for the "near" scope
  - @unfiltered_orgas.reorder('').group(:kind).count(:all).each do |kind, count|
    - p[:kind_id_eq] = kind.id.to_s
    - active_link = params[:q][:kind_id_eq] == kind.id.to_s

    %li{ title: strip_tags(Kind.human_attribute_name("name.#{kind.name}_html")),
         class: active_link ? 'active' : '' }
      = link_to orgas_url(q: p, active: params[:active]) do
        %em.fa{ class: "fa-#{kind.icon}" }
        = count
        - if active_link
          \-
          = t "#{kind.name}_html", scope: 'activerecord.attributes.kind/name'

  - count = @unfiltered_orgas.count :all
  - if count.positive?
    %li{ title: "#{Kind.human_attribute_name('active').pluralize}?" }
      - p[:kind_id_eq] = params[:q][:kind_id_eq]
      \/
      = link_to orgas_url(q: p, active: params[:active].present? && params[:active] != 'true') do
        - if params[:active].nil? || params[:active] == 'true'
          %em.fa.fa-heartbeat
        - else
          %em.fa.fa-heart-broken
        = count
