%h2
  %em.fa.fa-users
  = title t '.title'

%fieldset
  %legend
    %em.fa.fa-eye
    = t '.preview'
  = render template: '/orgas/show'

%fieldset
  %legend
    %em.fa.fa-edit
    = t '.edit'
  = render 'form', orga: @orga
