%h2
  %em.fa.fa-users
  = title t '.title'

= render 'search'

= render 'types'

%table.list
  %thead
    %th.name(colspan='2')= sort_link @search, :name
    %th.city= sort_link @search, :city
    %th.region(colspan='2')
      = sort_link @search, :region_name, Orga.human_attribute_name(:region)
    %th.updated_at= sort_link @search, :updated_at

  %tbody= render @orgas

  %tfoot
    %tr
      %th(colspan='10')
        = link_to_next_page @orgas, t('views.pagination.next'), remote: true

.links
  - p = params.permit :city, :region, :tag, near: {}
  = link_to orgas_path(:rss, p) do
    %em.fa.fa-rss
    = t 'rss', scope: 'pages.filter'
  = link_to orgas_path(:opml, p) do
    %em.fa.fa-square-rss
    OPML
