- orga_meta @orga

%h2
  - if @orga.kind
    %em.fa{ class: "fa-#{@orga.kind.icon}",
      title: strip_tags(Kind.human_attribute_name("name_#{@orga.kind.name}_html")) }
  = title @orga.name
  = render partial: '/orgas/favicon', locals: { orga: @orga }

= render 'aside' if [controller_name, action_name] == %w[orgas show]

%p.full_address
  = [@orga.place_name,
    @orga.address,
    @orga.city,
    t(@orga.region&.code,
    scope: :countries,
    default: @orga.region)].compact.join ', '

- if @orga.latitude && @orga.longitude
  .orga#map{ data: { url: maps_path(format: :json).to_s,
    latitude: @orga.latitude.to_s,
    longitude: @orga.longitude.to_s,
    icon: @orga.kind.icon } }

.description
  = description sanitize @orga.description,
    tags: %w[p h1 h2 h3 h4 br table tr th td ul ol li a strong b em i img sub sup span],
    attributes: %w[href src width height style title name id]

%h3
  %em.fa.fa-info-circle
  = t '.infos'
%dl
  - if @orga.url.present?
    %dt.url
      %em.fa.fa-external-link-alt
      = Orga.human_attribute_name :url
    %dd= link_to @orga.url, @orga.url
  - if @orga.diaspora.present?
    %dt.diaspora<
      = Orga.human_attribute_name :diaspora
      %em.fa
    %dd= link_to @orga.diaspora, @orga.diaspora
  - if @orga.feed.present?
    %dt.feed
      %em.fa.fa-rss
      = Orga.human_attribute_name :feed
    %dd= link_to @orga.feed, @orga.feed
    %dt.actus
      %em.fa.fa-feed
      = Actu.model_name.human.pluralize I18n.locale
    %dd
      = link_to actus_path orga: @orga do
        = Actu.where(orga: @orga).count
  - if @orga.contact.present?
    %dt.contact
      %em.fa.fa-envelope
      = Event.human_attribute_name :contact
    %dd= mail_to @orga.contact, nil,
      encode: (request.format == 'text/html' ? :javascript : nil),
      replace_at: ' CHEZ ', replace_dot: ' POINT '
  - if @orga.tags&.any?
    %dt.tags
      %em.fa.fa-tags
      = Event.human_attribute_name :tags
    %dd
      - @orga.tags.each do |tag|
        = link_to tag, tag_path(tag.name), rel: :tag
  %dt.active
    %em.fa.fa-heartbeat
    = Orga.human_attribute_name :active
  %dd= t @orga.active.to_s
  - if @orga.updated_at
    %dt.updated_at
      %em.fa.fa-calendar
      = Orga.human_attribute_name :updated_at
    %dd= l @orga.updated_at.to_date, format: :long

  - if @events_future&.any?
    %dt.future
      %em.fa.fa-forward
      = t '.future'
    %dd
      = link_to tag_path @orga.name_as_tag do
        = t '.count', count: @events_future.count
  - if @events_future && @events_past.any?
    %dt.past
      %em.fa.fa-backward
      = t '.past'
    %dd
      = link_to tag_path(@orga.name_as_tag, anchor: 'past') do
        = t '.count', count: @events_past.count
