==============================================================================
!= display_attr @orga, :kind,
               strip_tags(t("#{@orga.kind.name}_html", scope: 'activerecord.attributes.kind/name'))
!= display_attr @orga, :name
- if @orga.place_name?
  != display_attr @orga, :place_name
- if @orga.address?
  != display_attr @orga, :address
- if @orga.place_name?
  != display_attr @orga, :city
!= display_attr @orga,
               :region,
               t(@orga.region&.code, scope: :countries, default: @orga.region.name)
- if @orga.url?
  != display_attr @orga, :url
- if @orga.diaspora?
  != display_attr @orga, :diaspora
- if @orga.feed?
  != display_attr @orga, :feed
- if @orga.contact?
  != display_attr @orga, :contact
- if @orga.submitter?
  != display_attr @orga, :submitter
- if @orga.tag_list.present?
  != display_attr @orga, :tags, @orga.tag_list
!= display_attr @orga, :active, t(@orga.active.to_s)
\
!= to_markdown @orga.description, 78
==============================================================================
