.actus .title,.actus .description{width:60em}.actus .title img,.actus .description img{max-width:30%}.actus .title>:nth-child(odd) img,.actus .description>:nth-child(odd) img{float:right;clear:right;margin-left:1em}.actus .title>:nth-child(even) img,.actus .description>:nth-child(even) img{float:left;clear:left;margin-right:1em}.actus .meta{padding:1em 0;text-align:center;vertical-align:top}.actus .title h3{text-align:center}.actus .description{padding:0 1em;max-width:60em}
