%h2
  %em.fa.fa-map
  = t 'layouts.application.map'
  %em.fa{ class: "fa-#{@kind.icon}" }
  = t "#{@kind.name}_html", scope: 'activerecord.attributes.kind/name'
  - if params[:tag].present?
    %em.fa.fa-tag
    %em= params[:tag]

%ul.list#map
