!= t '.body', subject: @note.event.title, contents: @note.contents
\
!= sanitize @note.contents.html_safe,
           tags: %w[p br table tr td ul ol li a strong b em i img],
           attributes: %w[href src width height name id]
\
!= t '.edit_link'
\
= surround '<'.html_safe, '>'.html_safe do
  = edit_event_url @note.event, secret: @note.event.secret
\
!= t '.signature'
