%h2
  %em.fa.fa-search
  = title t '.title'

:markdown
  #{t '.helper'}

= form_tag events_url, method: :get do
  .field.near_location
    = label_tag 'near[location]', t('.near_location')
    = text_field_tag 'near[location]',
                     params[:city] || (params[:near].present? ? params[:near][:location] : ''),
                     placeholder: t('.near_location_helper')

  .field.near_distance
    = label_tag 'near[distance]', t('.near_distance')
    = number_field_tag 'near[distance]',
                       params[:near].present? ? params[:near][:distance] : '',
                       placeholder: t('.near_distance_helper'),
                       in: 0..1000
    %span.helper km

  .field.region
    = label_tag "region_#{params[:region]}", t('.region')
    .radios
      .region
        = radio_button_tag :region, '', true
        = label_tag :region_, "#{t('helpers.select.prompt')} ▾"
      = render partial: '/regions/filter_region',
               collection: Region.top.local

  .field.tag
    = label_tag :tag, t('.tag'), for: 'tag'
    = text_field_tag :tag, params[:tag]

  .actions
    = button_tag do
      %em.fa.fa-calendar
      = Event.model_name.human.pluralize

    = button_tag formaction: orgas_url do
      %em.fa.fa-users
      = Orga.model_name.human.pluralize

    = button_tag formaction: actus_url do
      %em.fa.fa-newspaper
      = Actu.model_name.human.pluralize

  %details
    %summary= t '.plus'

    .field.iframe
      = label_tag :iframe, t('.iframe')
      = check_box_tag :iframe
      %span.helper= t '.iframe_helper'

    .field.future
      = label_tag :future, t('.past')
      = check_box_tag :future, 'false'
      %span.helper= t '.past_helper'

    .actions
      = button_tag formaction: maps_url do
        %em.fa.fa-map
        = t '.map'

      = button_tag formaction: stats_url do
        %em.fa.fa-signal
        = t '.stats'

    .actions
      = button_tag formaction: maps_url(format: :json) do
        %em.fa.fa-map-pin
        = t '.geojson'

      = button_tag formaction: events_url(format: :json) do
        %em.fa {}
        = t '.json'

      = button_tag formaction: events_url(format: :rss) do
        %em.fa.fa-rss
        = t '.rss'

      = button_tag formaction: events_url(format: :ics) do
        %em.fa.fa-calendar-check
        = t '.ics'

      = button_tag formaction: events_url(format: :xml) do
        %em.fa.fa-code
        = t '.xml'

    %hr

%details
  %summary= t '.digest'
  = form_tag digest_url(:markdown), method: :get do
    .field.period_year
      = label_tag 'period[year]', t('.period_year')
      = number_field_tag 'period[year]', (Time.zone.today + 7.days).year,
                         required: true, min: 2000, max: 2.years.from_now.year
      .helper
        :markdown
          #{t '.period_year_helper'}
    .field.period_week
      = label_tag 'period[week]', t('.period_week')
      = number_field_tag 'period[week]', (Time.zone.today + 7.days).cweek,
                         required: true, in: 1..53

    .actions
      = button_tag do
        %em.fa.fa-hashtag
        = t '.digest'
