%h2
  %em.fa.fa-newspaper
  = title t '.title'

%table.list
  %tbody= render @actus

  %tfoot
    %tr
      %th(colspan='9')
        = link_to_next_page @actus, t('views.pagination.next'), remote: true

.links
  - p = params.permit :city, :region, :tag, near: {}
  = link_to actus_path(:rss, p) do
    %em.fa.fa-rss
    = t 'rss', scope: 'pages.filter'
