%h2= t('.sign_in')
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.login
    = f.label :login
    %br/
    = f.text_field :login, autofocus: true, autocomplete: 'login'
  .field.password
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: 'current-password'
  - if devise_mapping.rememberable?
    .field
      = f.label :remember_me
      = f.check_box :remember_me
  .actions
    = f.submit t('.sign_in')
= render 'devise/shared/links'
