!= t '.body', subject: @event.title, start_time: l(@event.start_time,
                                                  format: :at)
= surround '<'.html_safe, '>'.html_safe do
  = moderations_url
\
= render template: '/events/show'
\
!= t '.signature'
