!= t '.body', subject: @event.title, author: @current_user || t('.submitter')

:ruby
  new = render template: '/events/show'

  former = @event
  @event = @event.paper_trail.previous_version

  prev = render template: '/events/show'
  @event = former

!= Diffy::Diff.new prev, new
\
= surround '<'.html_safe, '>'.html_safe do
  = edit_event_url @event, secret: @event.secret
\
!= t '.signature'
