@import variables

*
  height: auto
  padding: 0
  max-width: inherit
  box-sizing: inherit
  margin-left: auto
  margin-right: auto

html
  height: 100%
  max-width: 100%
  // Integrating adl in another website
  &.iframe body
    & > header, & > footer,
    h2, nav, .orga_search, #banner
      display: none

body
  margin: 0
  min-height: 100%
  text-align: center
  box-sizing: border-box
  font-family: sans-serif
  background-color: white
  header, main, footer
    *
      transition-duration: 0.5s

img:-moz-broken
  opacity: 0

a
  &:link, &:visited
    color: #258
    text-decoration: none
  &:hover, &:active, &:focus
    color: #2E97FF

#flash-messages .flash
  color: white
  border: solid 1px #007ba0
  margin: 1em auto
  padding: 0.5em 1.1em
  max-width: 50em
  font-size: larger
  text-align: justify
  box-shadow: 0 0 0.3em gray
  border-radius: 3px
  background-color: #008cba
  &.notice
    border-color: #3a945b
    background-color: #43ac6a
  &.alert
    border-color: #de2b0f
    background-color: #f04124

h3.warning
  color: white
  margin: 0
  padding: 1em
  display: inline-block
  text-align: center
  box-shadow: 0 0 0.3em gray
  border-radius: 1em
  background-color: orange

header.top
  text-align: left
  img.logo
    float: left
    max-width: 12vw
    margin-right: 1%
  h1
    margin: 0
    padding: 0
  .subtitle
    font:
      size: inherit
      style: italic
    margin-top: 0.2em
  .digest
    float: right
    font-size: smaller
    font-style: italic
    margin-right: 1em
    list-style-type: none

main, body.mce-content-body
  clear: both
  width: 60em
  padding: 1.2em
  position: relative
  border-radius: 0.4em
  background-color: white !important
  h2.context
    color: white
    margin: .3em auto
    padding: .2em
    display: inline-block
    border-radius: .3em
    background-color: #FF0069
  h3
    text-align: left
  ul, ol
    text-align: left
    padding-left: 1em
    list-style-position: inside
  p
    text-align: left
    &.label
      text-align: center
    span.label:after
      content: ':'
  hr
    margin: 10px 20px

body.index main, html.iframe main
  width: initial
  box-shadow: none
  padding-left: 0
  padding-right: 0

aside
  float: right
  border: 1px solid #96CFFF
  margin: 0 1.2em
  z-index: 10
  padding: 5px
  position: relative
  max-width: 20em
  box-shadow: 4px 4px 1em gray
  margin-right: -4em
  border-radius: 1em
  background-color: #D6ECFF
  h2
    border-bottom: 1px black solid
    padding-bottom: 0.3em
  ul a
    padding: 0.5em 1em 0.5em 0
    display: block

.description, .second-part, body.mce-content-body
  p, span
    // So that some copy/pasted content is slightly better spaced
    white-space: pre-line !important
  img
    max-width: calc(102% - 20em)
    margin-left: 1%
    margin-right: 1%

fieldset, details
  border: none
  margin: 1em auto
  padding: 2%
  box-shadow: 1px 1px 5px $highlight
  border-radius: 0.4em
  legend, summary
    color: #666
    padding: 0 1em
    font-size: larger
    margin-left: 0
    background-color: white
  summary
    cursor: pointer
    font-weight: bolder
    &:hover
      color: #258
  h2
    margin-top: 0

footer.bottom nav
  clear: both
  a
    padding: 1.8%
    display: inline-block
    font-weight: bolder
    &:hover
      text-shadow: 0 0 1em lightgray

#loading
  top: 45%
  left: 45%
  color: gray
  display: none
  position: fixed
  font-size: 10vw
  text-shadow: 0 0 4px gray
  vertical-align: baseline

.pagination
  span
    display: none
  span.next
    display: block
