@media (prefers-color-scheme: dark)
  body:not(.mce-content-body)
    background: black radial-gradient(darkblue, black) fixed

  header.top, footer.bottom
    color: lightgray
    input
      color: white
    a
      &:link, &:visited
        color: skyblue
        text-shadow: 0 0 4px black
        text-decoration: none
      &:hover, &:active, &:focus
        color: lightcyan

  img
    opacity: .75
    transition: opacity .5s ease-in-out
    &:hover
      opacity: 1
