@import font-awesome
@import variables

.quantity
  text-align: right !important
  white-space: nowrap

table
  border-spacing: 2px
  thead th
    font-weight: normal
    a:link, a:visited
      color: #003
      padding: 0 0.6em

  &.list
    tbody
      tr:nth-child(odd)
        background-color: #def
      tr:nth-child(even)
        background-color: #eee
      tr.view
        cursor: pointer
        &:hover
          background-color: lightgrey
    td
      padding: 0.2em
      text-align: left
      &.kind, &.updated_at
        text-align: center

    tfoot a[rel=next]
      font-size: larger
      font-weight: bolder
      &:before, &:after
        margin: .5em
        @extend .fa
        content: fa-content($fa-var-arrow-circle-down)

dl
  dt
    clear: left
    float: left
    padding: 0.2em 1em
    min-width: 12em
    text-align: right
  dd
    padding: 0.2em 1em
    text-align: left
    &.quantity
      padding-right: 16em
    h3
      display: inline

.sidebar dl dt
  min-width: 5em

ul.counters
  text-align: center
  li
    display: inline
    a:link, a:visited
      color: white
      padding: 0.4em 1em
      display: inline-block
      box-shadow: 0 0 2px black
      border-radius: 0.4em
      background-color: #258
      &:hover
        box-shadow: 0 0 1em #258
    &.active
      a:link, a:visited
        color: black
        font-size: larger
        box-shadow: 0 0 5px white, 0 0 1em #258
        background-color: white

.edit_link:link, .delete_link:link
  display: none
