.region{ title: filter_region.code }
  = radio_button_tag :region, filter_region.id,
                     params[:region] == filter_region.id.to_s
  = label_tag "region_#{filter_region.id}", tabindex: -1 do
    = flag_icon filter_region.code
    %span.name
      = t filter_region.code, scope: :countries, default: filter_region
    - if filter_region.regions.any?
      %em.fa.fa-chevron-right
  - if filter_region.regions.any?
    .radios
      - filter_region.regions.each do |region|
        = radio_button_tag :region, region.id,
                           params[:region] == region.id.to_s
        = label_tag "region_#{region.id}", tabindex: -1 do
          %span.name= region.name
