.region{ title: selector_region.code }
  = f.radio_button :region_id, selector_region.id
  = f.label "region_id_#{selector_region.id}", tabindex: -1 do
    = flag_icon selector_region.code
    %span.name
      = t selector_region.code.presence,
          scope: :countries,
          default: selector_region
    - if selector_region.regions.any?
      %em.fa.fa-chevron-right
  - if selector_region.regions.any?
    .radios
      = f.collection_radio_buttons :region_id,
                                   Region.where(region: selector_region),
                                   :id,
                                   :name,
                                   include_hidden: false do |b|
        = b.radio_button
        = b.label(tabindex: -1) { t(b.text, scope: :countries, default: b.text) }
