-# Select a region for an event or organisation
.radios.required
  .region
    = f.radio_button :region_id, '', selected: true
    = f.label :region_id_, "#{t('helpers.select.prompt')} ▾"
  = render partial: '/regions/selector_region',
           collection: Region.top.local,
           locals: { f: f }
