%h2
  %em.fa.fa-signal
  = title t '.title'

%dl
  %dt= t '.allEvents'
  %dd.quantity= number_with_delimiter @events_count

  %dt= t '.awaitingModeration'
  %dd.quantity= number_with_delimiter @events_um_count

  %dt= t '.allOrgas'
  %dd.quantity= number_with_delimiter @orgas_count

  %dt= t '.awaitingModeration'
  %dd.quantity= number_with_delimiter @orgas_um_count

  %dt= t '.allActus'
  %dd.quantity= number_with_delimiter @actus_count

%h3
  %em.fa.fa-calendar
  = t '.dates'

%table.list.dates
  %thead
    %tr
      %th/
      - @years.each do |year|
        %th= year[0]
      %th/
  %tbody
    - (1..12).each do |m|
      %tr
        %th.month= I18n.t('date.month_names')[m]
        - @years.each do |year|
          %td.quantity
            - val = @months.find { |l| l[0][0] == year[0] && l[0][1].try(:to_i) == m }&.second
            - if val
              = link_to number_with_delimiter(val), root_path(start_date: "#{year[0]}-#{m}-01")
        %td.sparkline/

  %tfoot
    %tr
      %th= t '.total'
      - @years.each do |year|
        %th.quantity= number_with_delimiter year[1]

    %tr
      %th/
      %td.sparkline{ colspan: @years.size }

%h3
  %em.fa.fa-shield-alt
  = t '.regional'

%table.list.dates
  %thead
    %tr
      %th/
      - @years.each do |year|
        %th= year[0]
      %th= t '.total'
      %th/
  %tbody
    - @regions.each do |region|
      %tr
        %th
          = link_to region: region.id do
            - if region.code.present?
              = flag_icon region.flag
            = t region.code.presence, scope: :countries, default: region
        - total = 0
        - @years.each do |year|
          %td.quantity
            - count = @region_events[[region.id, year[0]]]
            - if count
              - total += count
              = link_to number_with_delimiter(count), root_path(year: year[0].to_s, region: region.id)
        %th.quantity.total= number_with_delimiter total
        %td.sparkline/

%h3
  %em.fa.fa-building
  = t '.city'

%dl
  - @cities.each do |count, cities|
    %dt.quantity= number_with_delimiter count
    %dd.item= cities.join ', '

%center
  %em.fa.fa-info-circle
  = t '.city_conditions',
      threshold: Rails.configuration.cloud_threshold

%h3
  %em.fa.fa-tags
  = t 'title', scope: 'tags.index'

- tag_cloud @tags.order(:name), %w[css1 css2 css3 css4] do |tag, css_class|
  = link_to tag.name, { controller: :tags, action: :show, id: tag.name },
            class: css_class

%center
  %em.fa.fa-info-circle
  = t 'threshold', scope: 'tags.index',
                   threshold: Rails.configuration.cloud_threshold
