-# Used in pages header

- unless params[:near].present? && params[:near][:location].present?
  #near-me
    %ul.near-me
      %li
        %a.near-me(href="?near[distance]=10&near[location]=[me]")
          %em.fa.fa-arrows-alt-h
          10km
      %li
        %a.near-me(href="?near[distance]=100&near[location]=[me]")
          %em.fa.fa-arrows-alt-h
          100km
      %li
        %a.near-me(href="?near[distance]=1000&near[location]=[me]")
          %em.fa.fa-arrows-alt-h
          1000km
    %a.near-me(href="?near[distance]=1&near[location]=[me]")
      %em.fa.fa-street-view
      = t '.nearMe'

- if params[:orga].present? && params[:orga].is_a?(String)
  %h2.context.orga
    %em.fa.fa-users
    = Orga.find params[:orga]
    %a(href="?orga=" aria-label="#{t '.remove'}")
      %em.fa.fa-times

- if params[:near].present? && params[:near][:location].present?
  %h2.context.near
    %em.fa.fa-map-pin
    = params[:near][:location]
    - if params[:near][:distance].present?
      %em.fa.fa-arrows-alt-h
      = params[:near][:distance]
      km
    %a(href="?near=" aria-label="#{t '.remove'}")
      %em.fa.fa-times

- if params[:region].present? && params[:region].is_a?(String)
  - region = Region.find_by id: params[:region]
  - if region.present?
    %h2.context.region
      = flag_icon region&.flag
      = t region&.code.presence, scope: :countries, default: region
      %a(href="?region=" aria-label="#{t '.remove'}")
        %em.fa.fa-times

- if params.include? :tag
  %h2.context.tag
    %em.fa.fa-tag
    = params[:tag]
    %a(href="?tag=" aria-label="#{t '.remove'}")
      %em.fa.fa-times
