!!! 5
/[if IE]
%html.no-js{ lang: I18n.locale, class: params[:iframe] ? 'iframe' : '' }
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='referrer' content='same-origin')
    %meta(name='robots' content='index, follow')

    = display_meta_tags site: t('.title')

    = favicon_link_tag '/favicon.ico'
    = favicon_link_tag 'baby_gnu_adl.png', rel: 'apple-touch-icon', type: 'image/png'
    = auto_discovery_link_tag :rss,
                              { controller: '/events', format: :rss },
                              title: Event.model_name.human.pluralize
    = auto_discovery_link_tag :rss,
                              { controller: '/orgas', format: :rss },
                              title: Orga.model_name.human.pluralize
    = auto_discovery_link_tag :rss,
                              { controller: '/actus', format: :rss },
                              title: Actu.model_name.human.pluralize

    = stylesheet_link_tag 'application', media: 'all',
                                         'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload',
                                            defer: true
    = csrf_meta_tags

  - sub = request.domain ? request.domain.split('.')[0] : ''
  %body{ class: [sub, controller_name, action_name, params[:tag]] }
    %header.top
      %ul.digest
        - if @events_digest_count.positive?
          %li.events
            = link_to root_path anchor: current_page?(root_path) && 'content' do
              = t '.events_html', count: @events_digest_count
        - if @orgas_digest_count.positive?
          %li.orgas
            = link_to orgas_path anchor: current_page?(orgas_path) && 'content' do
              = t '.orgas_html', count: @orgas_digest_count
        - if @actus_digest_count.positive?
          %li.actus
            = link_to actus_path anchor: current_page?(actus_path) && 'content' do
              = t '.actus_html', count: @actus_digest_count

      = image_tag ENV.fetch('ADL_LOGO', 'baby_gnu_adl.png'),
                  alt: '', class: :logo
      %h1= link_to_unless_current t('.title'), root_path
      %p.subtitle= t '.subtitle'

    = render 'layouts/flash', flash: flash if flash.present?

    %main#content
      = render partial: '/layouts/context' if action_name == 'index'

      = yield

    %footer.bottom
      %nav
        = link_to new_event_path do
          %em.fa.fa-pencil-alt
          = t '.propose'
        = link_to new_orga_path do
          %em.fa.fa-users
          = t '.propose_orga'
        %br/
        = link_to page_path('filter') do
          %em.fa.fa-search
          = t '.search'
        = link_to maps_path do
          %em.fa.fa-map
          = t '.map'
        - if @orgas_digest_count.positive?
          = link_to orgas_path do
            %em.fa.fa-users
            = Orga.model_name.human.pluralize
        - if @actus_digest_count.positive?
          = link_to actus_path do
            %em.fa.fa-newspaper
            = Actu.model_name.human.pluralize
        = link_to page_path('infos') do
          %em.fa.fa-info
          = t '.infos'
        = link_to stats_path do
          %em.fa.fa-signal
          = t '.stats'
        = link_to page_path('contact') do
          %em.fa.fa-envelope
          = t '.contact'
        = link_to moderations_path do
          %em.fa.fa-gavel
          = t '.moderation'
